---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-xs lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000">
        ¡Saludos! Soy un apasionado estudiante de ingeniería de sistemas con un sólido enfoque en el desarrollo frontend. Mi fascinación por el diseño y la creación de interfaces de usuario intuitivas y atractivas me impulsa a buscar constantemente nuevas formas de innovar y superar desafíos. Mi trayectoria también me ha llevado a convertirme en un diseñador y desarrollador front-end autodidacta, destacándome en la creación de diseños modernos y cautivadores.
      </p>
      <p
        class="text-xs lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500">
        Trabajemos juntos para crear algo grandioso. Puedes comunicarte conmigo para discutir tus necesidades y objetivos a través de mi correo electrónico: 
        <a href="mailto:developerseguram@gmail.com">developerseguram@gmail.com</a
        >
      </p>
      <p
        class="text-xs lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500">
        Mi objetivo es fusionar mi habilidad técnica con mi creatividad para brindar experiencias digitales sobresalientes. He adquirido experiencia en la implementación de tecnologías de vanguardia y prácticas recomendadas para garantizar que mis proyectos no solo sean visualmente impactantes, sino también funcionales y accesibles para todos los usuarios.
      </p>
      <p
        class="text-xs lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000">
        Siempre estoy en busca de nuevas oportunidades y colaboraciones emocionantes. ¡Estoy ansioso por compartir mi entusiasmo y experiencia en el desarrollo frontend con otros profesionales apasionados como ustedes!
      </p>
    </div>
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto pt-32 pb-0" >
    <div class="space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <h3
        class="text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>Proyectos</span>
        <span class="font-bold"> principales </span>
      </h3>
    </div>
    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-secondary md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-32"
      role="list">

      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2000">
        <a href="/projects/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                01.
              </p>
              <p class="italic shrink-0">Portafolio Personal Minimalista</p>
              <p class="italic shrink-0"></p>
              <p class="text-xs mt-3 leading-relaxed">
                Creación de un portafolio web personalizado y minimalista, llamado "AndresSegurA", para presentar mi experiencia y trayectoria en el desarrollo front-end.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Ver más &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="1500">
        <a href="/projects/zafiro">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                02.
              </p>
              <p class="italic shrink-0">App Contable custon</p>
              <p class="text-xs mt-3 leading-relaxed">
                Desarrollo de un sistema contable a medida, diseñado específicamente para centros médicos. 
                Integra funciones clave como registro de transacciones, estados financieros, seguimiento de 
                ingresos y gastos, y generación de informes fiscales.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Ver más &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2500">
        <a href="/projects/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                03.
              </p>
              <p class="italic shrink-0">Colores y Fuentes</p>
              <p class="text-xs mt-3 leading-relaxed">
                Un sitio web dedicado a ofrecer una amplia gama de recursos, herramientas e inspiración relacionados con la elección de colores y 
                tipografía en el diseño web. Dirigido tanto a desarrolladores web como a diseñadores digitales,
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Ver más &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="3000">
        <a href="/projects/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                04.
              </p>
              <p class="italic shrink-0">Xylextech technologies</p>
              <p class="text-xs mt-3 leading-relaxed">
                Optimización y rediseño de la página web de Seguridad América, centrándonos en 
                la categoría de productos que ofrece la marca. El objetivo es mejorar 
                la experiencia del usuario, resaltar los productos de manera efectiva y aumentar la conversión.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Ver más &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="mt-32 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span>Experiencia</span>
        <span class="font-bold"> Laboral</span>
      </h3>
    </div>

    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-left divide-y-2 divide-primary lg:grid-cols-4 items-start text-primary mt-3">
      {
        otherprojects.map((template) => (
          <>
            <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
              <a
                class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                <div class="p-3">
                  <p class="italic shrink-0">{template.title}</p>
                </div>
                <div class="p-3 ">
                  <p class="text-xs leading-relaxed">{template.description}</p>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>
    
    <div class="mt-9 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span>Nivel</span>
        <span class="font-bold"> Educativo</span>
      </h3>
    </div>

    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-left divide-y-2 divide-primary lg:grid-cols-4 items-start text-primary mt-3">
     
            <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
              <a
                class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                <div class="p-3">
                  <p class="italic shrink-0">Politecnico de la costa atlantica</p>
                </div>
                <div class="p-3 ">
                  <p class="text-xs leading-relaxed">Febrero 2022 a diciembre 2024
                    (En curso VIII semestre)
                    </p>
                </div>
              </a>
            </li>
            <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
              <a
                class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                <div class="p-3">
                  <p class="italic shrink-0">Universidad de caldas (MinTic)
                    Diplomado</p>
                </div>
                <div class="p-3 ">
                  <p class="text-xs leading-relaxed">Desarrollo web
                    Enero 2022 a diciembre 2022
                    </p>
                </div>
              </a>
            </li>
            <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
              <a
                class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                <div class="p-3">
                  <p class="italic shrink-0">Politecnico de la costa atlantica</p>
                </div>
                <div class="p-3 ">
                  <p class="text-xs leading-relaxed">Desarrollador de software
                    Enero 2018 a diciembre 2021
                    </p>
                </div>
              </a>
            </li>
    </ul>
  </div>
</section>
