<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span> human</span>
        <span class="font-bold">opininons</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 pt-2 mt-2">
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Amrit Nagi Fundador de Tailwind Toolbox</span>
        He estado siguiendo la carrera de Mike durante un tiempo y es sorprendente lo rápido que ha desarrollado y evolucionado la calidad y variedad de su trabajo. Siempre está aprendiendo o trabajando en algo nuevo y refinando constantemente su trabajo para que sea el mejor. Su atención al detalle, actitud de "puedo hacerlo" y ética de trabajo son refrescantes y definitivamente te ayudarán a tener éxito.
    </p>
    <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Gabriel Perales Ingeniero de Software en Cabify</span>
        Mike me ha ayudado con muchos diseños, y no podía seguir su velocidad de trabajo cuando trabajamos juntos. Sus diseños son elegantes y aportan mucho valor; constantemente está iterando sus diseños y haciendo mejoras.
    </p>
    <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Volkan Kaya Fundador de Versoly.com</span>
        Mike es una rara combinación de diseñador y desarrollador que entiende las necesidades empresariales. Utilizó su experiencia previa para desarrollar rápidamente varias páginas de destino para Versoly.
    </p>
    <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Mike Blogger en Raspada</span>
        He tenido el absoluto placer de trabajar con Mike en el pasado, tanto al construir mi blog Raspada con su interfaz de usuario de backend como al desarrollar una aplicación privada para una empresa líder en cuidado auditivo. El conocimiento y la atención al detalle de Mike son inigualables, y realmente comprende y escucha a sus clientes (a mí).
    </p>
    
    </div>
  </div>
</section>
